.chatpagewrapper{
    display: flex;
    width: 100vw;
    height: 100vh;
    .left{
        display: flex;
        flex: 2;
        width: 100%;
        height: 100%;
    
        background-color: rgb(217, 217, 217);
    }
    
    .right{
        display: flex;
        flex: 8;
        width: 100%;
        height: 100%;
        background-color: rgb(255, 231, 231);
        .content-wrapper{
            width: 100%;
            height: 100%;
            .header{
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 100%;
                height: 100px;
                padding: 10px;
                button {
                    display: flex;
                    width: max-content;
                    // background-color: blueviolet;
                    padding: 10px 30px;
                    border-radius: 5px;
                    justify-content: space-between;
                    gap: 50px;
                    &:hover{
                        background-color: rgb(244, 202, 202);
                    }
                    
                }

                .dropdownmenu-wrapper {
                    position: absolute;
                    left: inherit;
                    top: 70px;
                    display: inline-block;
                    flex-direction: column;
                    background-color: white;
                    min-width: 300px;
                    max-width: 50%;
                    
                    z-index: 9999;
                    padding: 10px 20px;
                    border-radius: 5px;
                    .dropdownmenu-header{
                        display: flex;
                        justify-content: space-between;
                        width: 90%;

                    }
                    .model-list {
                        display: flex;
                        flex-direction: column;
                        padding: 0px 20px;
                        margin: 0px -20px;
                        border-bottom: 1px solid black;
                        .model-wrapper {
                            img{
                                width: 20px;
                                height: 20px;
                            }
                        }
                    }
                    .dropdownmenu-footer{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 5px 10px 5px;
                        margin-top: 5px;
                        border-radius: 5px;
                        &:hover{
                            background-color: rgb(135, 119, 119);
                        }
                    }
                }
            }
        }

    }
}

